@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

/* header */

.container{
    width: 1175px;
    margin: 0 auto;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin: 15px;
}
.header_nav_text{
    margin-right: 30px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #444444;
}

/* logo */

.logo{
    background: url('../img/photo/ground.png') no-repeat center center / cover;
}
.logo_wrapper{
    padding-bottom: 60px;
    padding-top: 245px;
}
.logo_icon{
    margin: 0 auto;
    display: block;
}
.logo_title{
    padding-bottom: 150px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #45525B;
    margin-top: 20px;
}
.logo_str{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* our */

.our_wrapper{
    margin-bottom: 100px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.our_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.our_subtext{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #45525B;
}
.our_text{
    margin-right: 100px;
}
.our_subtitle2{
    width: 561px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.ava{
    display: flex;
    margin-top: 20px;
}
.ava_text{
    margin-top: 20px;
}
.ava_ava{
    margin-right: 20px;
}
.ava_name{
    margin-right: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.ava_prof{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}

/* choose */
.choose_wrapper{
    padding-top: 100px;
    margin-bottom: 100px;
}
.choose_name{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.choose_name2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #45525B;
}
.choose_name3{
    margin-top: 11px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6F7278;
}
.choose_info{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.choose_photo{
    margin-right: 30px;
}
.choose_btns{
    display: grid;
}
.choose_btn{
    border: 1px solid transparent;
    padding-left: 21px;
    text-align: left;
    background: none;
    border: none;
    width: 300px;
    height: 167px;
    border: 1px solid transparent;
}
.choose_btn:hover{
    background: #FAFAFC;
    border: 1px solid rgba(202, 204, 209, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
}
.choose_btn_title{
    margin-top: 15px;
    margin-bottom: 7px;
    text-align: left;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.choose_btn_text{
    text-align: left;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}

/* house */

.house{
    background: url('../img/photo/house1.png') no-repeat center center / cover;
    height: 600px;
}

/* store */

.store{
    background-color: #FAFAFC;
}
.store_wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
}
.store_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.store_text2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
}
.store_text3{
    margin-top: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #6F7278;
}
.store_content{
    margin-top: 30px;
}
.store_house_text{
    margin-top: 15px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
.store_house_name{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #45525B;
}
.store_house_info{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content:center;
    display: flex;
}
.store_house_bed{
    margin-right: 10px;
}
.store_house_bed_text{
    margin-right: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #45525B;
}
.house1{
    border: none;
    background: white;
}
.house1:hover{
    box-shadow: 0 0 10px black;
}
.store_btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.store_a{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
}

/* team */

